<time id="clock" class="clock" datetime="">--:--:--</time>
<p id="date" class="date">Memuat tanggal…</p>
<script>
  import { startClock } from "../scripts/clock";

  const clockEl = document.getElementById("clock");
  const dateEl = document.getElementById("date");

  if (clockEl instanceof HTMLTimeElement && dateEl instanceof HTMLElement) {
    startClock(clockEl, dateEl);
  }
</script>
